@model FA.JustBlog.Areas.Admin.ViewModels.DashboardViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_DashboardLayout.cshtml";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Dashboard
        <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index","Dashboard", new {area = "Admin" })"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-lg-4 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>@Model.TotalPost</h3>

                    <p>Total Post</p>
                </div>
                <div class="icon">
                    <i class="ion ion-document"></i>
                </div>
                <a href="@Url.Action("ListPost","PostManagement", new { area = "Admin" })" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-4 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>@Model.PublishedCount</h3>

                    <p>Published Post</p>
                </div>
                <div class="icon">
                    <i class="ion ion-document"></i>
                </div>
                <a href="@Url.Action("PublishedListPost","PostManagement", new { area = "Admin" })" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-4 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>@Model.UnPublishedCount</h3>

                    <p>Un-Published Post</p>
                </div>
                <div class="icon">
                    <i class="ion ion-document"></i>
                </div>
                <a href="@Url.Action("UnPublishedListPost","PostManagement", new { area = "Admin" })" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <hr />
    <div class="row pt-20">
        <div class="container">
            <div id="chartContainer" style="height: 300px; width: 100%;"></div>
        </div>
    </div>
</section>
<!-- /.content -->
@section Scripts{
    <script>
        window.onload = function () {

            var dataPoints = [];
            var chart;
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetPostForChart", "Dashboard", new { area = "Admin" })",
                dataType: "json",
                success: function (response) {
                    if (response != null) {
                        addData(response);
                    }
                }
            })

            function addData(data) {
                for (var i = 0; i < data.length; i++) {
                    dataPoints.push({
                        label: data[i].Category,
                        y: data[i].CountPost
                    });
                }

                chart = new CanvasJS.Chart("chartContainer", {
                    animationEnabled: true,
                    theme: "light2",
                    title: {
                        text: "Count Post By Category"
                    },
                    axisY: {
                        title: "Posts Count",
                        titleFontSize: 20
                    },
                    data: [{
                        type: "column",
                        yValueFormatString: "#,### Posts",
                        dataPoints: dataPoints
                    }]
                });

                chart.render();
            }


            //$.getJSON(, addData);

        }
    </script>
}

